<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cubo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cubo.css') }}">
    <script src="{{ url_for('static', filename='js/cubo.js') }}"></script>
    <title>CUBO Interface</title>
</head>
<body>

<div>
    Cubo's IP: <input id="cubo_ip" required pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$">
    <input type="button" value="Connect" onclick="connect_cubo()"><br />
    Cubo's Reply: <div id="cubo_reply"></div>
</div>
<div id="wrapD3Cube">
    <div id="D3Cube">
        <div id="side1" onclick="toggle_light(this.id)"></div>
        <div id="side2" onclick="toggle_light(this.id)"></div>
        <div id="side3" onclick="toggle_light(this.id)"></div>
        <div id="side4" onclick="toggle_light(this.id)"></div>
        <div id="side5" onclick="toggle_light(this.id)"></div>
        <div id="side6" onclick="toggle_light(this.id)"></div>
    </div>
</div>
<p style="text-align: center;">
    <a onclick="turnLeft()">Left</a>
    <a onclick="turnRight()">Right</a> <br />
    <a onclick="flipCube()">Flip</a>
</p>

</body>
</html>