#wrapD3Cube {
    width: 500px;
    height: 426px;
    margin: 20px auto;
    background-color: #EEE;
}
#D3Cube {
    width: 224px;
    height: 224px;
    top: 100px;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    -moz-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    margin: auto;
    position: relative;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#D3Cube > div {
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 224px;
    height: 224px;
    float: left;
    overflow: hidden;
    opacity: 0.85;
    border: 1px solid black;
}
#side1 {
    transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(112px);
    -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(112px);
    -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(112px);
    background: white url("/static/img/mao.png") no-repeat center center;
}
#side2 {
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(112px);
    -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(112px);
    -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(112px);
    background: white url("/static/img/estrela.png") no-repeat center center;
}
#side3 {
    transform: translateX(0px) translateY(0px) translateZ(112px);
    -moz-transform: translateX(0px) translateY(0px) translateZ(112px);
    -webkit-transform: translateX(0px) translateY(0px) translateZ(112px);
    background: white url("/static/img/coracao.png") no-repeat center center;
}
#side4 {
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(112px);
    -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(112px);
    -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(112px);
    background: white url("/static/img/raio.png") no-repeat center center;
}
#side5 {
    transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(112px);
    -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(112px);
    -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(112px);
    background: white url("/static/img/lampada.png") no-repeat center center;
}
#side6 {
    transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(112px);
    -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(112px);
    -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(112px);
    background-color: #FFF;
}
