<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cubo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cubo.css') }}">
    <script src="{{ url_for('static', filename='js/cubo.js') }}"></script>
    <title>CUBO Interface</title>
</head>
<body>
<H1>Cubo v1.0</H1>

<div id="color_menu">Choose a color and click my sides!<input id="color_picker" type="color" name="favcolor" value="#ff0000"></div>
<div id="wrapD3Cube">
    <div id="D3Cube">
        <div id="side1" onclick="toggle_light(this.id)"></div>
        <div id="side2" onclick="toggle_light(this.id)"></div>
        <div id="side3" onclick="toggle_light(this.id)"></div>
        <div id="side4" onclick="toggle_light(this.id)"></div>
        <div id="side5" onclick="toggle_light(this.id)"></div>
        <div id="side6" onclick="toggle_light(this.id)"></div>
    </div>
</div>
<div id="cube_control">
    <input type="button" value="Turn Left" onclick="turnLeft()">
    <input type="button" value="Turn Right" onclick="turnRight()">
    <input type="button" value="Flip" onclick="flipCube()">
</div>

</body>
</html>